[Unit]
Description=before-network
DefaultDependencies=no
After=local-fs.target systemd-modules-load.service
Before=network-pre.target
Wants=network-pre.target
Conflicts=shutdown.target

[Service]
Type=oneshot
TimeoutSec=180
RemainAfterExit=yes
EnvironmentFile=
ExecStart=/etc/NetworkManager/dispatcher.d/02-my-dispatcher xyz before-network-service

[Install]
WantedBy=multi-user.target
