[Unit]
Description=hood-network-services
DefaultDependencies=no
After=network-pre.target
Before=network.target
Wants=network.target
Conflicts=shutdown.target

[Service]
Type=simple
RemainAfterExit=no
EnvironmentFile=
ExecStart=/usr/local/bin/hood-network-services-runner.sh

[Install]
WantedBy=multi-user.target
